body{
  color:black;
  margin: 0;
  text-align:center;
  font-family:Playfair Display,serif;

}
h1{
  margin:50px auto 0 auto;
  font-family: Playfair Display,serif;
  font-size: 4rem;
  color: #FF9292;
  line-height: 2;
}
h2{
  font-size: 1.5rem;
  color:   #FF9292;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color:#FFCCD2;
}
a{
  color:#FF9292;
  text-decoration: none;
  margin:10px 20px;
}
a:hover{
  color:white;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:4%;
  margin:100px auto;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.cir{
  width:25%;
  margin-right: 30px;
  float: left;
}
.cir1{
  width:25%;
  margin-left: 30px;
  float: right;

}
.eng{
  text-decoration: underline;
}
.btn {
  background: #d9cb34;
  background-image: -webkit-linear-gradient(top, #d9cb34, #b8902b);
  background-image: -moz-linear-gradient(top, #d9cb34, #b8902b);
  background-image: -ms-linear-gradient(top, #d9cb34, #b8902b);
  background-image: -o-linear-gradient(top, #d9cb34, #b8902b);
  background-image: linear-gradient(to bottom, #d9cb34, #b8902b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc963c;
  background-image: -webkit-linear-gradient(top, #fc963c, #d9a234);
  background-image: -moz-linear-gradient(top, #fc963c, #d9a234);
  background-image: -ms-linear-gradient(top, #fc963c, #d9a234);
  background-image: -o-linear-gradient(top, #fc963c, #d9a234);
  background-image: linear-gradient(to bottom, #fc963c, #d9a234);
  text-decoration: none;
}
.top-cld{
  padding-top: 10px;
  position: relative;
  left:200px;
}
.bottom-cld{
  position: absolute;
}
.top-container{
  background-color: #FFF9B6;
  padding-top: 50px;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  background-color: #FFF9B6;
  padding-bottom: 50px;
}
.contact-me{
  margin: 40px auto 60px auto
}

.third{
  background-color: blue;
  height:200px;
  width: 200px;
}
